@page
@model SecondHand.Areas.Identity.Pages.Account.Manage.AddProductModel
@{
    ViewData["Title"] = "Add Product";
    ViewData["ActivePage"] = ManageNavPages.AddProduct;
}
<div class="add_product toogle_profile">
    @if (!Model.hasProduct)
    {
        <h3>Add product</h3>
        <p>Adding products to your store</p>

    }
    else
    {
        <h3>Edit product</h3>
        <p>Feel free to edit your product</p>
    }


    <form method="post" enctype="multipart/form-data">
        <div class="add_products">

            <div class="img_add">

                <input hidden value="@ViewData["productId"]" asp-for="Input.productId" />

                <div class="box-img">
                    <input asp-for="Input.productImage" id="file-5" class="inputfile-img inputfile-4" multiple />
                    <label for="file-5"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg></figure> <span>Upload image</span></label>
                </div>
            </div>
            <div class="inpt_add">
                <div>
                    <label asp-for="Input.productTitle">Product name</label>
                    <input asp-for="Input.productTitle" value="@ViewData["productName"]">
                </div>
                <label asp-for="Input.productDesc">Product Description</label>
                <textarea placeholder="Enter product description" asp-for="Input.productDesc"></textarea>
                <div class="two-inpts">
                    <div>
                        <label asp-for="Input.productPrice">Product Price</label>
                        <div class="input-icon">
                            <input asp-for="Input.productPrice" min="1" type="number" class="form-control" placeholder="00.00" value="@ViewData["productPrice"]">
                            <i>€</i>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Input.productDiscount">Discount</label>
                        <div class="input-icon">
                            <input type="number" asp-for="Input.productDiscount" min="0" class="form-control" placeholder="00.00" value="@ViewData["productDiscount"]">
                            <i>€</i>
                        </div>
                    </div>

                </div>
                <div class="two-inpts">
                    <div>
                        <label asp-for="Input.productShippingPrice">Product Price</label>
                        <div class="input-icon">
                            <input asp-for="Input.productShippingPrice" type="number" min="0" class="form-control" placeholder="00.00" value="@ViewData["productShippingPrice"]">
                            <i>€</i>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Input.productStock">Stock</label>
                        <div class="input-icon">
                            <input type="number" min="1" asp-for="Input.productStock" class="form-control" placeholder="1" value="@ViewData["productStock"]">
                        </div>
                    </div>
                </div>

                <div class="two-inpts">
                    <div>
                        <label asp-for="Input.productSize">Product Size</label>
                        <div class="input-icon">
                            <input asp-for="Input.productSize" type="text" class="form-control" placeholder="M" value="@ViewData["productSize"]">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @if (!Model.hasProduct)
        {
            <input type="submit" class="sign_in_button" asp-for="Input.type" value="add">

        }
        else
        {
            <input type="submit" class="sign_in_button" asp-for="Input.type" value="delete" />
            <input type="submit" class="sign_in_button" asp-for="Input.type" value="update" />
        }

    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
