@model SecondHand.Models.Contents

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentIcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.contentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
