@model IEnumerable<SecondHand.Models.Reviews>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reviewDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reviewRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reviewDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviewDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviewRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviewDt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.reviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.reviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.reviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
